<html>
<head>
    <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/static/js/angular.min.js" ></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
</head>
<body ng-app="TestApp" id="ng-app">
    <div>

        <h1>Hello World</h1>


        <div ng-controller="ApiCtrl">

            <table>
                <tbody>
                    <tr ng-repeat="category in categories">
                        <td>{[{ category.id }]}</td>
                        <td>{[{ category.name }]}</td>
                    </tr>
                </tbody>
            </table>


        </div>

    </div>

</body>
</html>